# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.so

# Django
*.log
*.pot
*.pyc
*.mo
*.db
*.sqlite3
media/

# Virtual Environment
VENV/
.env




# Static & Media
staticfiles/
media/

# VSCode (si utilizas este editor)
.vscode/

#node
node_modules/
public/