# Servidor y Base de Datos
gunicorn==23.0.0
psycopg2-binary==2.9.11
dj-database-url==2.1.0

# Django Core
Django==4.2
python-dotenv==1.1.1
whitenoise==6.6.0
pillow==11.1.0

# Autenticación y API
djangorestframework==3.16.0
djangorestframework_simplejwt==5.5.1
django-cors-headers==4.7.0
PyJWT==2.10.1
cryptography==46.0.1

# Cloudinary (Almacenamiento de fotos)
cloudinary==1.41.0
django-cloudinary-storage==0.3.0

# Utilidades necesarias
asgiref==3.8.1
sqlparse==0.5.1
requests==2.32.3
django-browser-reload==1.18.0