.header__nav {
    background-color: var(--color-sub);
    padding: 6rem;

}

.header__nav a {
    margin: 0 2rem 0 0;
    color: var(--color-text);
    font-size: 2rem;


    &:hover {
        color: var(--color-hover);
    }
}

#header__logo {
    font-size: 4rem;
    font-style: oblique;
    font-family: monospace
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='%23F5F5F5' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.navbar-toggler-icon:hover {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='%2390E0EF' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
    ;
}