.skills {
    display: inline-flex;
    align-items: center;
    background-color: var(--color-4);
    color: var(--color-text);
    border-radius: 1.5rem;
    padding: 0.8rem 1.9rem;
    font-size: 1.3rem;
    font-weight: 700;
}

.single-profile-skills {
    background-color: var(--color-btn);
    font-size: 1.7rem;
    width: 13rem;
    max-width: 18rem;
    text-align: center;
    justify-content: center;

}