.skills {
    display: inline-flex;
    align-items: center;
    
    background-color: var(--color-4);
    color: var(--color-text);
    border-radius: 1.2rem;
    padding: 0.8rem 1.9rem;
    font-size: 1.7rem;
    font-weight: 700;
}

.single-profile-skills {
    background-color:var(--color-btn);
    padding: 0.8rem 2.2rem;
    font-size: 1.7rem;
    letter-spacing: 0.1rem;
}