:root {
    --color-bg: #EBEBEB;
    --color-sub: #010228d7;
    --color-border: #6464737f;
    --color-2: #00B4D8;
    --color-3: #8f9da02f;
    --color-4: #0096C7;
    --color-hover: #90E0EF;
    --color-text: #F5F5F5;
    --color-success: #359e64;
    --color-success-bg: #def8e8;
    --color-error: #fc4b0b;
    --color-error-bg: #fff2ee;



}