:root {
    --color-bg: #ebebeb;
    --color-sub: #010228d7;
    --color-border: #6464737f;
    --color-btn: #01022843;
    --color-text-dark: #0608098d;
    --color-text-sub-light: #0102288e;
    --color-4: #0096C7;
    --color-hover: #90E0EF;
    --color-text: #F5F5F5;
    --color-success: #359e64;
    --color-success-bg: #def8e8;
    --color-error: #fc4b0b;
    --color-error-bg: #fff2ee;



}