html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    
}
body {
    display: flex;
    flex-direction: column;
    
}

.footer {
    background-color: $main_color_dark;
    height: 27rem;
}


// $main_color_dark