{% extends 'base.html' %}
{% block content %}
{% include "navbar.html" %}

<main class="home">
  <section class="devList">
    <div class="container ">
      <div class="row">
        {% for profile in profiles %}
        <div class="col-xl-4 col-md-6 ">
          <div class="dev">
            <div class="card dev__card  ">
              <a href="{% url 'user-profile' profile.id %}">
                <div class="card-body  devs__body">
                  <div class="dev__profile ">
                    <img src="{{profile.profile_image.url}}" class="card-img-top avatar avatar--md" alt="image">
                    <div class="dev__meta">
                      <h3 class="card-title">{{profile.name}}</h3>
                      {% if profile.short_intro %}
                      <h5>{{profile.short_intro|truncatechars:"45"}}</h5>
                      {% endif %}
                    </div>
                  </div>
                  {% if profile.bio %}
                  <p class="card-text dev__info  ">
                    {{profile.bio|truncatechars:"120"}}
                  </p>
                  {% else %}
                  <div class="dev__info"></div>

                  {% endif %}

                  <div class="dev__skills  dev__info">
                    {% for skill in profile.skill_set.all|slice:"3" %}
                    {% if skill %}
                    <span class="skill">
                      <small>{{skill}}</small>
                    </span>
                    {% else %}
                    <div class="dev__info"></div>
                    {% endif %}
                    {% endfor %}
                  </div>

                </div>
            </div>
            </a>
          </div>

        </div>
        {% endfor %}

      </div>
    </div>
  </section>
  {% include 'pagination.html' with queryset=profiles custom_range=custom_range %}
</main>
{% endblock content %}