{% extends 'base.html' %}
{% load static %}
{% block content %}
<main class="profile">
  <div class="container-fluid" >
    <div class="row profile-flex-row align-items-start ">


      <!-- single profile card -->
      <div class="col-lg-4  col-sm-12 singleProfile__leftColumn " >
        <div class="card text-center single-profile-card" >
          <div class="card__body" >
            <img class="dev__img avatar--xxl" src="{{profile.profile_image.url}}" alt="profile image">
            <h2 class="dev__name">{{profile.name}}</h2>
            {% if profile.short_intro %}
            <p class="dev__title">{{profile.short_intro}}</p>
            {% endif %}
            {% if profile.location %}
            <p class="dev__location">{{profile.location}}</p>
            {% endif %}
            <ul class="dev__social  ">
              {% if profile.social_github %}
              <li>
                <a href="{{profile.social_github }}" target="_blank">
                  <img class="social-icons" src="{% static 'social icons/iconmonstr-github-1.svg' %}" alt="">
                </a>
              </li>

              {% endif %}
              {% if profile.social_youtube %}
              <li>
                <a href="{{profile.social_youtube }}" target="_blank">
                  <img class="social-icons" src="{% static 'social icons/iconmonstr-youtube-6.svg' %}" alt="">
                </a>
              </li>

              {% endif %}
              {% if profile.social_twitter %}
              <li>
                <a href="{{ profile.social_twitter }}" target="_blank">
                  <img class="social-icons" src="{% static 'social icons/iconmonstr-twitter-1.svg' %}" alt="">
                </a>
              </li>
              {% endif %}
              {% if profile.social_linkedin%}
              <li>
                <a href="{{ profile.social_linkedin }}" target="_blank">
                  <img class="social-icons" src="{% static 'social icons/iconmonstr-linkedin-1.svg' %}" alt="">
                </a>
              </li>
              {% endif %}
              {% if profile.social_website %}
              <li>
                <a href="{{profile.social_website}}" target="_blank">
                  <img class="social-icons" src="{% static 'social icons/iconmonstr-globe-5 (1).svg' %}" alt="">
                </a>
              </li>
              {% endif %}
            </ul>
            <a href="" class="btn--sendMessagge inter-1 ">Send Message</a>
          </div>
        </div>
      </div>

      <!-- About Me section -->

      <div class="col-lg-8  col-sm-12  singeProfile__rightColumn ">
        <div class="devInfo">
          <h3 class="devInfo__title">About Me</h3>
          <p class="devInfo__about">
            {{profile.bio}}
            <br />
          </p>
        </div>
        <div class="devInfo">
          <h3 class="devInfo__title devInfo">Skills</h3>
          <div class="devInfo__skills">

            {% for skill in top_skills %}
            <div class="devSkill">
              <h4 class="devSkill__title">{{skill.name}}</h4>
              <p class="devSkill__info">
                {{skill.description}}
              </p>
            </div>
            {% endfor %}

            <h4 class="devInfo__subtitle">Other Skills</h4>
            <div class="devInfo__otherSkills">

              {% for skill in other_skills|slice:"6" %}
              <span class=" skill single-profile-skills">
                <small>{{skill}}</small>
              </span>
              {% endfor %}

            </div>
          </div>
        </div>

        <!------------------------ projects ---------------------------------->

        <div class="devInfo  " >
          <br>
          <h3 class="devInfo__title  ">Projects</h3>
          <div class="container ps-0  " >
            <div class="row ">
              {% for project in profile.project_set.all %}
              <div class="col-lg-6 ps-0 project" >
                <div class="card   ms-0 ps-0 project__card" >
                  <a  href="{% url 'project' project.id  %}">
                    <img src="{{project.featured_image.url}}" class=" card-img-top project__image " alt="...">
                  </a>
                  <div class="card-body project__body ">
                    <a href="{% url 'project' project.id  %}">
                      <h3 class="card-title project__title ">{{project.title}}</h3>
                    </a>
                    <a href="{% url 'user-profile' project.owner.id %}">
                      <h6 class="card-subtitle project__author">By {{project.owner.name}}</h6>
                    </a>
                    <p class="card-text project__rating">
                      <span style="font-weight: bold;" >{{project.vote_ratio}}
                      </span>
                      % Positive Feedback ({{project.vote_total}} Vote{{project.vote_total|pluralize:"s"}})
                    </p>

                    <div class="project__tags">
                      {% for tag in project.tags.all %}
                      <span class="skill"><small>{{tag}}</small></span>
                      {% endfor %}
                    </div>
                  </div>
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


</main>


{% endblock content %}