{% extends 'base.html' %}
{% block content %}
<main class="main">
    <div class="form-container container">
        <form class="form" method="POST">
            {% csrf_token %}
            <h4>Are you sure you want to delete this project: {{project.title}}</h4>
            <button class="btn go-back"><a class="go-back"  href="{% url 'user_account' %}">Go Back</a></button>
            <input class="btn delete-project" type="submit" value="Confirm">
        </form>
    </div>
</main>
{% endblock %}