{% extends "base.html" %}
{% block content %}

<h1>PROJECTS</h1>

<table>
    <tr>
        <th>Project</th>
        <th>Created</th>
        <th>Votes</th>
        <th>Positive Votes</th> 
        <th></th>
    </tr>
    {% for project in projects %}
        <tr>
            <td>{{project.title}}</td>
            <td>{{project.created}}</td>
            <td>{{project.vote_total}}</td>
            <td>{{project.vote_ratio}}%</td>
            <td><a href="{% url 'update_project' project.id %}">Edit</a></td></td>
            <td><a href="{% url 'delete_project' project.id %}">Delete</a></td></td>
            <td><a href="{% url 'project' project.id %}">View</a></td></td>
        </tr>
    {% endfor %}
</table>

<ul>
    
    
    
    <br>
    <a href="{% url 'main_view' %}"><h4>Return to Main View</h4></a>
</ul>


{% endblock %}