{% extends 'base.html' %}
{%  load static %}
{% block content %}


<div class="form-container container ">
    <a class="go-back" href="{{request.GET.next}}"><</a>
    <form  class="form createProjectForm" method="POST" enctype="multipart/form-data" novalidate>
        {% csrf_token %}

        {% for field in form %}
        <label for="formInputtext">{{field.label}}</label>
        {{field}}

        {% endfor %}
        

        <input class="form__input--submit" type="submit" value="Submit">
    </form>
</div>
{% endblock %}