{% extends "base.html" %}
{% block content %}



<main class="projects">
    <div class="container p-5">
        <div class="row ">


            {% for project in projects %}
            <div class="col-lg-4 col-sm-6 mb-5 ">
                <div class="card">
                    <a href="{% url 'project' project.id %}"><img src="{{project.featured_image.url}}"
                            class=" card-img-top" alt="..."></a>
                    <div class="card-body">
                        <a href="{% url 'project' project.id %}">
                            <h5 class="card-title">{{project.title}}</h5>
                        </a>
                        {% if project.owner %}
                        <a class="project__author" href="{% url 'user-profile' project.owner.id %}">
                            <h6 class="card-subtitle mb-2 text-body-secondary">By {{project.owner.name}}</h6>
                        </a>
                        {% endif %}
                        <p class="card-text">{{project.vote_ratio}}% Positive Feedback
                            ({{project.vote_total}}){{project.vote_total|pluralize:"s"}}</p>
                        <!-- <a href="#" class="card-link">Card link</a>
          <a href="#" class="card-link">Another link</a> -->
                        {% for tag in project.tags.all %}
                        <span class="badge bg-secondary">{{tag}}</span>
                        {% endfor %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    </div>
</main>
{% endblock content %}