.btn {
    display: inline-block;
    position: relative;
    cursor: pointer;
    background-color:var(--btn-color);
    font-weight: 600;
    color: var(--text-main);
    padding: 1rem 2rem;
    border-radius: 0.5rem;
    font-size: 1.6rem;
    border: none;
    &:hover {
        background-color: var(--hover);
        transition: all 0.2s ease-in-out;
    }
}


.btn--lg {
    display: inline-block;
    position: relative;
    cursor: pointer;
    background-color:var(--btn-color);
    font-weight: 600;
    color: var(--text-main);
    padding: 1.3rem 2.2rem;
    border-radius: 50px;
    font-size: 1.5rem;
    border: none;
    text-decoration: none;
    letter-spacing: 2px;
    &:hover {
        background-color: var(--hover);
        transition: all 0.2s ease-in-out;
    }
}

.btn--sm {
    display: inline-block;
    position: relative;
    cursor: pointer;
    background-color:var(--btn-color);
    font-weight: 600;
    color: var(--text-main);
    padding: 0.7rem 1.6rem;
    border-radius: 50px;
    font-size: 1.2rem;
    text-decoration: none;
    border: none;
    &:hover {
        background-color: var(--hover);
        transition: all 0.2s ease-in-out;
    }
}

.btn--sendMessagge {
    display: inline-block;
    position: relative;
    cursor: pointer;
    background-color:var(--btn-color);
    font-weight: 600;
    color: var(--text-main);
    padding: 1.3rem 4.2rem;
    border-radius: 5px;
    font-size: 1.7rem;
    border: none;
    text-decoration: none;
    letter-spacing: 1px;
    &:hover {
        background-color: var(--hover);
        transition: all 0.2s ease-in-out;
    }
}

.paginator--btn {
    border-radius: 4px;
}

.paginator--btn--sub {
    border-radius: 0;
    background-color: var(--hover);
    color:var(--text-dark)
}

.btn--reviews {
    width: 15rem;
}

.go-back {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex
;
    align-items: center;
    justify-content: center;
    font-size: 2.2rem;
    text-decoration: none;
    background-color: var(--btn-color);
    color: var(--text-main);
}


@media (max-width: 768px) {
    .btn, 
    .btn--lg, 
    .btn--sm, 
    .btn--sendMessagge {
      width: 90%;        /* ocupa casi todo el ancho */
      margin: 0 auto;    /* centrado */
      font-size: 1.4rem; /* ajustar tamaño de texto */
      padding: 0.8rem 1.5rem;
    }
  }