<header class="header">
  <nav class="navbar navbar-expand-lg header__nav  ">
    <div class="container-fluid  ">
      <a class="navbar-brand inter-1" id="header__logo" href="{% url 'profiles' %}">DevSpace</a>
      <button class="navbar-toggler header__menu" type="button" data-bs-toggle="collapse"
        data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon header__menu"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav ms-auto me-5">
          <a class="nav-link " aria-current="page" href="{% url 'profiles'  %}">Developers</a>
          <a class="nav-link " href="{% url 'projects' %}">Projects</a>
          <a class="nav-link " href="#">Inbox</a>
          <a class="nav-link " href="{%  url 'admin:index' %}" target="_blank">Admin</a>

          {% if request.user.is_authenticated %}
          <a class="nav-link " aria-disabled="true" href="{%  url 'user-account' %}">Account</a>
          <a class="nav-link  " aria-disabled="true" href="{% url 'logout' %}">Logout</a>
          {% else %}
          <a class="nav-link  " aria-disabled="true" href="{% url 'login' %}">Login/Sign up</a>
          {% endif %}


        </div>
      </div>
    </div>
  </nav>



  <!-- --------------------SEARCH BAR ------------------------- -->



  <div
    class="{%  if request.path == '/projects/' %}headerSearch headerSearch__projects{% else %} headerSearch{% endif %}">
    <div class="headerSearch__box text-center inter-2">
      {% if request.resolver_match.url_name == 'profiles' %}
      <h1 class="inter-2">CONNECT WITH <span>DEVELOPERS</span></h1>
      <h1 class="inter-2">FROM AROUND THE WORLD</h1>
      {% elif request.resolver_match.url_name == 'projects' %}
      <h1 class="inter-2">SEARCH FOR <span>PROJECTS</span></h1>
      {% endif %}
    </div>
    <div class="headerSearch__bar text-center">

      <form action="{% if request.path == '/projects/' %} {% url 'projects' %} {% else %} {% url 'profiles' %} {% endif %}" class="form" method="GET">
        <div class="form__field headerSearch__inputs">
          <input type="text" class="form__input " id="formInputSearchBar" placeholder="{% if request.path == '/projects/' %} Search by project name or owner {% else %} Search by developer name or skills {% endif %}"
            class="inter-2" name="search_query" value="{{search_query}}">
          <input type="submit" value="Search" class="btn inter-2 " id="searchBarButton">
        </div>
      </form>

    </div>
  </div>
</header>