.card__edit-link {
    margin-bottom: 3rem;
}



.skills_title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 50px;
    margin-bottom: 3rem;
}

.devInfo__title {
    margin: 0 !important;
}

.devInfo__table {
    background-color: var(--card-bg);
    color: var(--text-main);
    width: 100%;
}


.devInfo__skill {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--text-main);
}


.devInfo__skill:last-child {
    border-bottom: none;
}

.devInfo__add {
    font-size: 1.5rem;
    padding: 1rem 2.5rem;
}

.devInfo__skill td {
    padding: 3rem 2.5rem;
}

.devInfo__skill td h4 {
    font-weight: 900;
    letter-spacing: 3px;
}

.devInfo__skill td p {
    font-weight: 300;
    line-height: 2rem;
}

.devInfo__skill-actions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.devInfo__skill-actions a {
    margin-bottom: 1rem;
}

/* --------------------------PROJECTS------------------------------------ */


.devProjects__add {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 3rem 0;
}

.devProjects__table {
    background-color: var(--card-bg);
    width: 100%;
}
/* 
.devProjects__projects {
    display: flex;
    justify-content: space-between;
    align-items: center;
} */

.devProjects__table tr {
    border-bottom: 1px solid var(--text-main);
    height: 19rem; 
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
}

.devProjects__table tr:last-child {
    border-bottom: none; 
  }

.devProjects__thumbnail,
.devProjects__tableInfo, .devProjects__actions
 {
    padding: 3rem;
}


.devProjects__thumbnail {
    width: 150px;
    overflow: hidden;
    padding:0 2rem;
    flex-shrink: 0;
}

.devProjects__thumbnail img {
    width: 150px;
    height: 80px;
    object-fit: cover;
    transition: transform 0.3s ease;
}


.devProjects__tableInfo , .devProjects__tableInfo a{
    color: var(--text-main);
}

.devProjects__tableInfo {
    padding:0 1rem;
    margin-left: 2rem;  
    flex-grow: 1;
}

.devProjects__tableInfo a {
    display: inline-block;
    font-size: 1.9rem;
    letter-spacing: 2px;
    font-weight: 700;
    text-decoration: none;
    margin-bottom: 2rem;
}

.devProjects__tableInfo p {
    font-size: 1.2rem;
    font-weight: 300;
}

.devProjects__actions {
    flex-shrink: 0;
}

.devProjects__actions a {
    display: block;
    margin-bottom: 1rem;
}


